{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DocM</title>

  {% tailwind_css %}
</head>
<body>
    {% comment %} <section class="w-full h-screen bg-gradient-to-b from-[#0A192F] to-[#37376E] flex items-center justify-center" id="cta">

    </section> {% endcomment %}

    <section class="w-full h-screen bg-gradient-to-b from-[#0A192F] via-[#1B1E3F] via-70% to-[#37376E] flex items-center justify-center">
  <!-- Your content here -->
</section>


</body>
</html>